/* font-family */
@font-face {
  font-family: "vazir";
  src: url(/assets/font/Vazir.eot) format("eot"),
    url(/assets/font/Vazir.ttf) format("truetype"),
    url(/assets/font/Vazir.woff) format("woff"),
    url(/assets/font/Vazir.woff2) format("woff2");
}

* {
  font-family: "vazir";
}
:root {
  --bg-color: #00b05d;
  --text-color: #fff;
  --bg-button: #00b05d;
}
button {
  background: var(--bg-button) !important;
  color: var(--text-color);
}

